.navbar-items{
    // background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
    background: white;
    font-weight: bold;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
}

.navbar-logo{
    color: black;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    background-image: url('../../../public/images/ISIS-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 55px;
    width: 150px;
    background-size: cover;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-links{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.nav-links:hover{
    background-color: #A9A9A9;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.hamburger-icon{
    display: none;
    color: black;
}






@media screen and (max-width: 960px){
    .navbar-items{
        position: relative;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active{
        background: white;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links{
        text-align: center;
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        background-color: #A9A9A9;
        border-radius: 0;
    }

    .hamburger-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 18px;
        cursor: pointer;
    }
}